<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                    <!-- test! -->
                </h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio adipisci possimus unde blanditiis
                    voluptate repellat quos hic atque, sit iure velit sequi obcaecati dolorem dolor non harum laudantium
                    inventore aliquid.</p>
                <hr>

            </div>
        </div>
    </div>